<tr-card>
  <div class="flex-column">
    <mat-form-field>
      <mat-label>View option</mat-label>
      <mat-select [(ngModel)]="data.viewOption" name="viewOption">
        <mat-option *ngFor="let pair of viewOptionsEnum | enumToArray" [value]="pair.index">{{ pair.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="data.skipEmptyDays" name="skipEmpty">Show empty</mat-slide-toggle>

    <button class="submit-button" color="accent" mat-flat-button trPopoverClose [popoverResult]="data">Apply</button>
  </div>
</tr-card>
