:host
    text-align: center;
    display: block;

    .tracking-content
        display: inline-block;
        width: 90%;

        .tracking-settings
            float: left;
            margin-left: 55%;
