<tr-card [title]="cardTitle">
  <form #userForm="ngForm" class="form-container">
    <mat-form-field color="accent">
      <mat-label for="username">Username</mat-label>
      <input matInput required id="username" [(ngModel)]="model.username" name="username" />
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label for="password">Password</mat-label>
      <input matInput required type="password" id="password" [(ngModel)]="model.password" name="password" />
    </mat-form-field>

    <button mat-flat-button type="submit" (click)="onSubmit()" color="primary"><span>Submit</span></button>
  </form>
</tr-card>
