:host
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;

    .settings-container
        margin-right: 40px;

        &--padded
            padding-top: 12.25px;

    ::ng-deep .flex-row
        display: inline-flex;
        flex-direction: row;

        mat-form-field
            width: 110px;
            margin: 0px 5px;
