<mat-card class="container">
    <mat-card-title>
        <div *ngIf="isSignIn; then signIn else signUp"></div>
        <ng-template #signIn><span>Sign In</span></ng-template>
        <ng-template #signUp><span>Sign Up</span></ng-template>
    </mat-card-title>
    <form #userForm="ngForm" class="form-container">
        <mat-form-field color="accent">
            <mat-label for="username">Username</mat-label>
            <input matInput required id="username" [(ngModel)]="model.Username" name="username">
        </mat-form-field>
        <mat-form-field color="accent">
            <mat-label for="password">Password</mat-label>
            <input matInput required type="password" id="password" [(ngModel)]="model.Password" name="password">
        </mat-form-field>
    
        <button mat-flat-button type="submit" (click)="onSubmit()"><span>Submit</span></button>
    </form>
</mat-card>